<launch>
    <!-- Main Node -->
    <node name="main_node" pkg="second_coursework" type="main_node.py" output="screen" launch-prefix="python3">
    </node>

    <!-- Action Server Node -->
    <node name="actionlib_node" pkg="second_coursework" type="actionlib_node.py" output="screen" launch-prefix="python3">
    </node>

    <!-- Patrol Action Server Node -->
    <node name="patrol_action_server_node" pkg="second_coursework" type="patrol_action_server_node.py" output="screen" launch-prefix="python3">
    </node>

    <!-- Text to Speech Service Node -->
    <node name="text_to_speech_node" pkg="second_coursework" type="text_to_speech_node.py" output="screen" launch-prefix="python3">
    </node>

    <!-- YOLO Detection Service Node -->
    <node name="yolo_detection_node" pkg="second_coursework" type="yolo_detection_node.py" output="screen" launch-prefix="python3">
    </node>

    <!-- Visualization (RViz) -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find rosplan_stage_demo)/config/rosplan_stage_demo.rviz">
    </node>

    <!-- Include ROSPlan Stage Demo -->
    <include file="$(find rosplan_stage_demo)/launch/empty_stage_single_robot.launch">
    </include>

        <!-- Ensure the video player node is included -->
    <node name="vid_player" pkg="second_coursework" type="itr_cw2425CS" output="screen">
        <param name="video_folder" value="/path/to/videos"/>
        <param name="num_locations" value="8"/>
        <param name="radius" value="2"/>
    </node>
</launch>




